---
import GpsGarmin from '../component/gpsGarminReact'
---

<html>
  <head>
    <title>GPS Tracker</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <GpsGarmin client:only/>
  </body>
</html>