/*quienes somos*/
.sec_flex{
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    align-content: center;
    background: var(--background);
	box-shadow: var(--box-shadow);
    margin: 20px 20px 0px 20px;
    border-radius: 15px;

}

@media(max-width:700px){
    .sec_flex{
        flex-direction: column;
    }
    
}

.secqs_margin{
    max-width: 600px;
    margin: auto;
    
}

.julioricardo95{
    padding: 15px 20px 15px 20px;
    text-align: justify;
    background: var(--background);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 15px 0 15px 7px;
}
.imgqs{
    width: 100%;
}


@media (max-width:420px) {
    .sec_flex{
        margin: 20px 10px 20px 10px;
    }
    .julioricardo95{
        padding: 10px 10px 10px 10px;
    }
}