.whatsapp-bottom{
    position: fixed;
    right: 20px;
    bottom: 10%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.whatsapp-bottom-i{
  border-radius: 50%;
  margin: auto;
  font-size: 3rem;
  color: green;
  animation: rotate-diagonal-1 5s ease-in-out infinite;
  }
.whatsapp-bottom-i:hover{
  transform: scale(1.2);
}
@media (max-width:450px) {
  
}
.rotate-diagonal-1 {
	        animation: rotate-diagonal-1 0.4s linear both;
}
  @keyframes rotate-diagonal-1 {
    0% {
              transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
              transform: rotate3d(0, 1, 0, -180deg);
    }
    100% {
              transform: rotate3d(0, 1, 0, -360deg);
    }
  }