<section id="vision " class=" section vision sec_flex ">
    <div>
        <i class="fa-solid fa-eye"></i>
        <h3>Visión de la agencia</h3>
        <p>Ser reconocida como una agencia de publicidad líder, innovadora y confiable, que ofrece soluciones creativas y estratégicas para impulsar el éxito de nuestros clientes en el competitivo mundo de la comunicación y el marketing.</p>
    </div>

    <div>
        <i class="fa-solid fa-fire"></i>
        <h3>Misión de la agencia</h3>
        <p>Nuestra misión es brindar a nuestros clientes servicios de publicidad de alta calidad, orientados a resultados y adaptados a sus necesidades específicas. Nos esforzamos por crear campañas creativas e impactantes que generen valor, aumenten la visibilidad de las marcas y conecten de manera efectiva con su audiencia objetivo. Trabajamos en estrecha colaboración con nuestros clientes, utilizando estrategias de vanguardia y tecnología innovadora para alcanzar y superar sus objetivos de marketing y comunicación.</p>
    </div>

</section>

<section id="footer" class="section footer sec_flex ">
    <footer class="footer-grid-flex">

        <div>
            <img src="" alt="" srcset="/img/favicon.svg">
            <p> En nuestra agencia de marketing y publicidad, nos comprometemos con nuestros clientes para ofrecer soluciones y estrategias que ayuden a hacer crecer su negocio en Internet</p>
        </div>

        <div>
            <h3>Datos de Contacto</h3>
            <li>
                <ul>
                    telefono :
                </ul>
                <ul>
                    Email :
                </ul>
                <ul>
                    Encuentranos :
                </ul>
            </li>
        </div>

        <div>
            <h3>Link de interes</h3>
            <li>
                <ul>
                    <a href="/info/"></a>
                </ul>
                <ul>
                    <a href="/info/"></a>
                </ul>
                <ul><a href="/info/">marca</a></ul>
                <ul><a href="/info/">imagen</a></ul>
                <ul><a href="/info/">video</a></ul>
                <ul><a href="/info/">web</a></ul>
                <ul><a href="/info/">ads</a></ul>
                <ul><a href="/info/">datos</a></ul>
            </li>
        </div>

        <div>
            <h3>siguenos</h3>
            <li>
                <ul><i class="fa-solid fa-fire"></i></ul>
                <ul><i class="fa-solid fa-fire"></i></ul>
                <ul><i class="fa-solid fa-fire"></i></ul>
                <ul><i class="fa-solid fa-fire"></i></ul>
                <ul><i class="fa-solid fa-fire"></i></ul>                
            </li>
        </div>

    </footer>
</section>

<section class="static">
    <div>
        
    </div>
</section>