<section class="style-laptop-card v1-laptop-card margin">
  <img class="v1-img-laptop-card" src="/lt.png" alt="" />

  <h2 class="style-h2-laptop-card v1-h2-laptop-card">laptop ASUS</h2>
  <ul class="style-ul-laptop-card v1-ul-laptop-card">
    <li class="v1-li-laptop-card">m</li>
    <li class="v1-li-laptop-card">r</li>
    <li class="v1-li-laptop-card">pr</li>
    <li class="v1-li-laptop-card">pan</li>
  </ul>

  <ul class="style-ul-laptop-card v1-ul-laptop-card v1-ul-laptop-card-r">
    <li class="v1-li-laptop-card">credex</li>
    <li class="v1-li-laptop-card">logo</li>
    <li class="v1-li-laptop-card">whatsapp</li>
  </ul>

  <span class="v1-span-laptop-card">$90</span>
</section>
